.game {
  width: 800px;
  height: 500px;
  background: url(img/background.png) center/cover;
  display: flex;
  flex-direction: column;
}

.game__header {
}

.game__field {
  width: 100%;
  height: 100%;
  background-color: blue;
}
