button {
  border: none;
  outline: none;
  cursor: pointer;
}

.game {
  width: 800px;
  height: 500px;
  background: url(img/background.png) center/cover;
  display: flex;
  flex-direction: column;
}

.game__header {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

.game__button {
  width: 60px;
  height: 60px;
  background-color: wheat;
  border: 4px solid black;
  font-size: 24px;
  transition: transform 300ms ease-in;
}

.game__button:hover {
  transform: scale(1.1);
}

.game__field {
  width: 100%;
  height: 100%;
  background-color: blue;
}
